<mat-grid-list cols="2" rowHeight="22%">
  <mat-grid-tile rowspan="3">
    <mat-card style="height: 97%; width: 97%;">
      <mat-card-content>
        <mat-list>
          <div mat-subheader>Messages</div>
          <mat-list-item *ngIf="!threads">
            <mat-card-title>No Messages. Add friends to chat.</mat-card-title>
          </mat-list-item>
          <mat-list-item *ngFor="let thread of threads | keyvalue" (click)="selectThread(thread.key)">
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line>{{ thread.value['firstName'] + ' ' + thread.value['lastName'] }}</div>
            <div mat-line>{{ thread.value['messages'][getKey(thread)].text }} </div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile rowspan="4">
    <mat-card style="height: 97%; width: 97%;" *ngIf="selectedThreadKey">
      <mat-card-header>
        <mat-card-title>
          {{ threads[selectedThreadKey]['firstName'] + ' ' + threads[selectedThreadKey]['lastName']}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content #scrollOnUpdate style="border: 1px solid; border-color: grey; background-color: whitesmoke; height: 80%;" [style.overflow]="'auto'">
        <mat-list>
          <div mat-subheader>Messages</div>
          <mat-list-item *ngFor="let message of threads[selectedThreadKey].messages | keyvalue" [class]="message.value['sender'] == authService.user.value ? 'right' : 'left'" style="padding-left: 2px;">
            <span class="message">
                <div>{{ message.value['text'] }}</div>
            </span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-content style="border: 1px solid; border-color: white; border-radius: 25px; background-color: whitesmoke; padding: 5px;">
        <mat-form-field style="width: 100%;">
          <mat-label>Message</mat-label>
          <input matInput type="text" (keydown.enter)="onMessageSend()" [(ngModel)]="sendMessageText">
          <button mat-button matSuffix mat-icon-button aria-label="Send" type="submit" (click)="onMessageSend()">
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <mat-card style="height: 97%; width: 97%;">
      <div mat-subheader>Suggested Friends</div>
      <mat-card-content  style="height: 90%;" [style.overflow]="'auto'">
        <mat-list *ngIf="userList">
          <mat-list-item *ngFor="let member of suggestedFriendsList">
            <mat-icon mat-list-icon (click)="addFriend(member)">person_add</mat-icon>
            <div mat-line>{{ userList[member].firstName + ' ' + userList[member].lastName}}</div>
            <div mat-line>{{ userList[member].hobby1 + ' ' + userList[member].hobby2 + ' ' + userList[member].hobby3 }} </div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


