/* You can add global styles to this file, and also import other style files */

@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-list-item.right .mat-list-item-content {
  justify-content: flex-end;
}

.mat-list-item.left .mat-list-item-content {
  justify-content: flex-start;
}
