

<div class="card col-md-4 border-light" style="margin-left: 400px;">
  <div class="card-title">
    <h3 style="text-align: center">{{ isLoginMode ? 'User Login' : 'Sign Up' }}</h3>
  </div>
  <div class="card-body">
    <div *ngIf="isLoading" style="text-align: center;">
      <loading-spinner></loading-spinner>
    </div>

    <form [formGroup]="loginForm" *ngIf="isLoginMode && !isLoading">
      <div class="form-group">
        <label class="heading" for="email">E-Mail</label>
        <input type="email" id="email" class="form-control" formControlName="emailLogin" />
      </div>
      <div class="form-group">
        <label class="heading" for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName="passwordLogin" />
      </div>
      <div style="text-align: center">
        <p style="color: red;">{{ error }}</p>
      </div>
      <div style="text-align: center">
        <button class="btn btn-primary" (click)="onLogin(loginForm.value)">Login</button>
      </div>
    </form>

    <form [formGroup]="signUpForm" *ngIf="!isLoginMode && !isLoading">
      <div class="form-group">
        <label class="heading" for="firstName">First Name</label>
        <input type="text" id="firstName" class="form-control" [formControlName]="'firstName'" />
        <span class="invalid" *ngIf="!signUpForm.get('firstName').valid && signUpForm.get('firstName').touched">Enter First Name</span>
      </div>
      <div class="form-group">
        <label class="heading" for="lastName">Last Name</label>
        <input type="text" id="lastName" class="form-control" [formControlName]="'lastName'" />
        <span class="invalid" *ngIf="!signUpForm.get('lastName').valid && signUpForm.get('lastName').touched">Enter Last Name</span>
      </div>
      <div class="form-group">
        <label class="heading" for="email">E-Mail</label>
        <input type="email" id="email" class="form-control" [formControlName]="'emailSignUp'" />
        <span class="invalid" *ngIf="!signUpForm.get('emailSignUp').valid && signUpForm.get('emailSignUp').touched">Enter a valid E-mail</span>
      </div>
      <div class="form-group">
        <label class="heading" for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName="passwordSignUp" />
        <span class="invalid" *ngIf="!signUpForm.get('passwordSignUp').valid && signUpForm.get('passwordSignUp').touched">Use 6 characters or more for your password</span>
      </div>


      <!-- <div>
        <label class="heading">Are you a Student or a Teacher?</label>
        <div class="radio" *ngFor="let profession of professions">
          <label>
            <input type="radio" [value]="profession" formControlName="profession" /> {{ profession }}
          </label>
        </div>
      </div> -->
      <!-- <div class="alert alert-danger" *ngIf="error">
        <span> {{ error }}</span>
      </div> -->
      <div style="text-align: center">
        <div style="text-align: center">
          <button class="btn btn-primary" (click)="onSignUp(signUpForm.value)">Create Account</button>
        </div>
      </div>
    </form>
    <button class="btn btn-primary" type="button" (click)="onSwitchMode()"> {{ isLoginMode ? 'Dont have an account? Sign up now' : 'Already have an account? Login Instead' }}</button>
  </div>
</div>
